body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:781px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:170px;
}
#u0 {
  position:absolute;
  left:10px;
  top:12px;
  width:771px;
  height:170px;
  text-align:left;
}
#u1 {
  position:absolute;
  left:2px;
  top:77px;
  width:767px;
  word-wrap:break-word;
}
